header, footer{
    text-align: center;
    padding:  15px;
}

footer h5{
    font-size: 90%;
}


footer h6{
    font-size: 80%;
    font-weight: bold;
    color: var(--text-primary);
}


#adatTorles{
    width: 25px;
    height: 25px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}


/*reszponzivitas*/



/*@media screen and (max-width = 1000) {
    #accBody{
        display: flex;
        flex-direction: row;
    }
    
}*/